[Unit]
Description=lituyamond sensor monitoring service
Requires=influxd.service
After=network.target influxd.service

[Service]
ExecStart=/usr/local/bin/lituyamond
Restart=always
StandardOutput=syslog
StandardError=syslog
WorkingDirectory=/home/pi/
User=pi
#Environment=EXTERNALPORT=3000

[Install]
WantedBy=multi-user.target
Alias=lituyamond.service
