[Unit]
Description=network check and repair service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/network_check
Restart=no
StandardOutput=syslog
StandardError=syslog
